# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs

# Visual Studio
.vs/
.vscode/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production settings
appsettings.Production.json 